jupyter>=1.0.0
tqdm>=4.62.3
requests>=2.26.0
pandas>=1.5.2
scipy>=1.6.0
tornado>=6.1
scikit-learn>=1.0
lightgbm>=3.3.0 
mmh3>=3.0.0
matplotlib>=3.6.2
seaborn>=0.12.1
jupyterlab>=3.2.2
transformers>=4.25.1
wget>=3.2
pytest>=7.1.2
pytest-forked>=1.4.0
multiprocessing_on_dill>=3.5.0a4
ujson>=5.5.0
faiss-gpu>=1.7.2
tensorflow-gpu>=2.11.0
tensorflow-probability>=0.18.0
git+https://github.com/asash/lightfm.git@main
